/* link */
a
{
    color: green;
}

/* sortable tables' headers should indicate that they can be clicked */
table.sortable th:hover
{
    cursor: pointer;
}

/* Data table */
table.data
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

/* Data table headers and table cells */
table.data th, table.data td
{
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

/* Data table ONLY table headers */
table.data th
{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}

/* Change color for uneven data cells */
table.data tr:nth-child(even)
{
    background-color: #f2f2f2
}

/* Data link class for rows that cannot be wrapped in <a> tags */
table.data tr.link:hover
{
    bachground-color: #E0FF33;
    color: green;
    cursor: pointer;
}

/* Unordered list */
div.navbar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* List item */
div.navbar li
{
    float: left;
}

/* List item with link */
div.navbar li a
{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Hover list item link */
div.navbar li a:hover
{
    background-color: #111;
}