/* link */
a
{
    color: green;
}

/* Table */
table.data
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table.sortable th:hover
{
    cursor: pointer;
}

/* Table headers and table cells */
table.data th, table.data td
{
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

/* Change color for uneven cells */
table.data tr:nth-child(even)
{
    background-color: #f2f2f2
}

/* data row hover */
table.data tr:hover
{
    bachground-color: #E0FF33;
    cursor: pointer;
    color: green;
}

/* More for only table headers */
table.data th
{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}

/* Unordered list */
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* List item */
li
{
    float: left;
}

/* List item with link */
li a
{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Hover list item link */
li a:hover
{
    background-color: #111;
}