<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ supervisor.last_name }}, {{ supervisor.first_name }}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <center>
      <h1>{{ supervisor.first_name }} {{ supervisor.last_name }}</h1>
      <table border="1">
	 <tr>
            <td> Email </td>
            <td> {{ supervisor.email }} </td>
	 </tr>
         <tr>
             <td> Website </td>
             <td> {{ supervisor.website }} </td>
         </tr>
         <tr>
             <td> Location </td>
             <td> {{ supervisor.location }} </td>
         </tr>
         <tr>
             <td> Workplace </td>
             <td> {{ supervisor.workplace }} </td>
         </tr>
         <tr>
             <td> Status </td>
             <td> {{ supervisor.status }} </td>
         </tr>
         <tr>
             <td> Phone number </td>
             <td> {{ supervisor.phone }} </td>
         </tr>
         <tr>
             <td> Mobile number </td>
             <td> {{ supervisor.mobile }} </td>
         </tr>
         <tr>
             <td> Fax number </td>
             <td> {{ supervisor.fax }} </td>
         </tr>
      </table>
    </center>
  </body>
</html>
