{% extends "base.html" %}

{% block title %}Supervisors{% endblock %}

{% block body %}
<center>
  <h1>Supervisors</h1>
  {% include "search-filter.html" %}
  <table class="data searchable sortable">
    <tr>
      <th>Supervisor</th><th>Title</th><th>Email</th><th>Phone</th>
    </tr>
    {% for s in supervisor_list %}
    <tr class="link" onclick="window.document.location='/supervisors/{{ s.id }}'">
      <td>
        {{ s.last_name}}, {{ s.first_name }}
      </td>
      <td>
        {{ s.status }}
      </td>
      <td>
        {{ s.email }}
      </td>
      <td>
        {{ s.phone }}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td>No supervisors to show!</td>
    </tr>
    {% endfor %}
  </table>
</center>
{% endblock %}
