{% extends "base.html" %}

{% block title %}{{ supervisor.last_name }}, {{ supervisor.first_name }}{% endblock %}

{% block body %}
<center>
  <h1>{{ supervisor.first_name }} {{ supervisor.last_name }}</h1>
  {% if supervisor.photo %}
  <img src="data:;base64,{{ supervisor.photo }}" height="256" alt="Photo of {{ supervisor.first_name }} {{ supervisor.last_name }}" />
  {% endif %}
  <table class="data">
    <tr>
      <td>Email</td>
      <td><a href="mailto:{{ supervisor.email }}">{{ supervisor.email }}</a></td>
    </tr>
    <tr>
      <td>Groups</td>
      <td>
      {% for g in group_list %}
      {% for m in g.members.all %}
      {% if m.id == supervisor.id %}
      <a href="{% url 'group' g.id %}">{{ g.name }}</a> <br>
      {% endif %}
      {% endfor %}
      {% endfor %}
      </td>
    </tr>
    <tr>
      <td>Website</td>
      <td><a href="{{ supervisor.website }}">{{ supervisor.website }}</a></td>
    </tr>
    <tr>
      <td>Location</td>
      <td>{{ supervisor.location }}</td>
    </tr>
    <tr>
      <td>Workplace</td>
      <td>{{ supervisor.workplace }}</td>
    </tr>
    <tr>
      <td>Status</td>
      <td>{{ supervisor.status }}</td>
    </tr>
    <tr>
      <td>Phone number</td>
      <td>{{ supervisor.phone }}</td>
    </tr>
    <tr>
      <td>Mobile number</td>
      <td>{{ supervisor.mobile }}</td>
    </tr>
    <tr>
      <td>Fax number</td>
      <td>{{ supervisor.fax }}</td>
    </tr>
    <tr>
      <td valign="top">Active projects</td>
      <td>
        {% for a in active_projects %}
        {% if a.supervisor == supervisor %}
        <a href="{% url 'project' a.id %}">{{ a.name }}</a><br>
        {% endif %}
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td valign="top">Older projects</td>
      <td>
        {% for i in inactive_projects %}
        {% if i.supervisor == supervisor %}
        <a href="{% url 'project' i.id %}">{{ i.name }}</a><br>
        {% endif %}
        {% endfor %}
      </td>
    </tr>
  </table>
</center>
{% endblock %}
