{% extends "base.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block body %}
<center>
  <h1>Project: {{ project.name }}</h1>
  <table class="data">
    <tr>
      <td>Supervisor</td>
      <td><a href="{% url 'supervisor' project.supervisor.id %}">{{ project.supervisor }}</a></td>
    </tr>
    <tr>
      <td>Type</td>
      <td>{{ project.get_type_display }}</td>
    </tr>
    <tr>
      <td>Published</td>
      <td>{{ project.pub_date }}</td>
    </tr>
    <tr>
      <td>Project Start</td>
      <td>{{ project.start_date }}</td>
    </tr>
    <tr>
      <td>Project End</td>
      <td>{{ project.end_date }}</td>
    <tr>
      <td>Project Deadline</td>
      <td>{{ project.deadline }}</td>
    </tr>
    <tr>
      <td>Subject</td>
      <td>{{ project.subject }}</td>
    </tr>
    <tr>
      <td>Website</td>
      <td><a href="{{ project.website }}">{{ project.website }}</a></td>
    </tr>
    <tr>
      <td>Summary</td>
      <td>{{ project.description_short }}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{ project.description_long }}</td>
    </tr>
    {% endblock %}
    {% for f in project.file_upload %}
    <tr>
      <td>File</td>
      <td><a href="{{ f.url }}">{{ f.file }}</a></td>
    </tr>
    {% endfor %}
  </table>
</center>
