{% extends "base.html" %}

{% block title %}Project Stock{% endblock %}

{% block body %}
<center>
  <h1>ProjectStock</h1>
</center>
<table class="data sortable" style="float: left">
  <tr>
    <th>Random Project</th>
  </tr>
  {% for r in random_project_list %}
  <tr>
    <td>
      <a href="{% url 'project' r.id %}">
        {{ r.name }}
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
<table class="data sortable" style="float: left">
  <tr>
    <th>Newly published Bachelor projects</th>
  </tr>
  {% for b in project_bachelor %}
  <tr>
    <td>
      <a href="{% url 'project' b.id %}">
        {{ b.name }}
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
<table class="data sortable" style="float: left">
  <tr>
    <th>Newly published Master projects</th>
  </tr>
  {% for m in project_master %}
  <tr>
    <td>
      <a href="{% url 'project' m.id %}">
        {{ m.name }}
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
<table class="data sortable" style="float: left">
  <tr>
    <th>Newly published Master Thesis</th>
  </tr>
  {% for t in project_thesis %}
  <tr>
    <td>
      <a href="{% url 'project' t.id %}">
        {{ t.name }}
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
<table class="data sortable" style="float: left">
  <tr>
    <th>Supervisors with most active projects</th>
  </tr>
  {% for s in supervisor_list %}
  <tr>
    <td>
      <a href="{% url 'supervisor' s.id %}">
        {{ s.last_name }}, {{ s.first_name }} ({{ s.num_projects }})
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
