<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <script src="/static/sorttable.js"></script>
  </head>
  <body>
    {% include "navbar.html" %}
    <center>
      <h1>Projects</h1>
      <table class="data sortable">
        <tr>
          <th>Project</th><th>Type</th><th>Supervisor</th><th>Subject</th><th>Start Date</th><th>Deadline</th><th>Published</th>
        </tr>
        {% for p in project_list %}
        <tr class="link" onclick="window.document.location.href='/projects/{{ p.id }}'">
          <td>
            {{ p.name }}
          </td>
          <td>
            {{ p.get_type_display }}
          </td>
          <td>
            {{ p.supervisor }}
          </td>
          <td>
            {{ p.subject }}
          </td>
          <td>
            {{ p.start_date }}
          </td>
          <td>
            {{ p.deadline }}
          </td>
          <td>
            {{ p.pub_date }}
          </td>
        </tr>
        {% empty %}
        <tr>
          <td>No projects to show!</td>
        </tr>
        {% endfor %}
      </table>
    </center>
  </body>
</html>
