{% extends "base.html" %}

{% block title %}{{ group.name }}{% endblock %}

{% block body %}
<center>
  <h1>Group: {{ group.name }}</h1>
  <table class="data">
    <tr>
      <td>Subject</td>
      <td>{{ group.subject }}</td>
    </tr>
    <tr>
      <td>Website</td>
      <td><a href="{{ group.website }}">{{ group.website }}</a></td>
    </tr>
    <tr>
      <td>Location</td>
      <td>{{ group.location }}</td>
    <tr>
      <td>Description</td>
      <td>{{ group.description }}</td>
    </tr>
    <tr>
      <td>Members</td>
      <td>
	{% for s in group.members.all %}
	<a href="{% url 'supervisor' s.id %}">{{ s.last_name }}, {{ s.first_name }} ( {{ s.status }})</a><br>
	{% empty %}
	  There are no members of this group!
	{% endfor %}
      </td>
  </table>
</center>
{% endblock %}
