{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block body %}
<center>
  {% include "search-filter.html" %}
  <h1>Active projects</h1>
  <table class="data searchable sortable">
    <tr>
      <th>Project</th><th>Type</th><th>Supervisor</th><th>Subject</th><th>Start Date</th><th>Deadline</th><th>Published</th>
    </tr>
    {% for a in active_projects %}
    <tr class="link" onclick="window.document.location.href='/projects/{{ a.id }}'">
      <td>
        {{ a.name }}
      </td>
      <td>
        {{ a.get_type_display }}
      </td>
      <td>
        {{ a.supervisor }}
      </td>
      <td>
        {{ a.subject }}
      </td>
      <td>
        {{ a.start_date }}
      </td>
      <td>
        {{ a.deadline }}
      </td>
      <td>
        {{ a.pub_date }}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td>No active projects to show!</td>
    </tr>
    {% endfor %}
  </table>
  <h1>Inactive projects</h1>
  <table class="data searchable sortable">
    <tr>
      <th>Project</th><th>Type</th><th>Supervisor</th><th>Subject</th><th>Start Date</th><th>Deadline</th><th>Published</th>
    </tr>
    {% for i in inactive_projects %}
    <tr class="link" onclick="window.document.location.href='/projects/{{ i.id }}'">
      <td>
        {{ i.name }}
      </td>
      <td>
        {{ i.get_type_display }}
      </td>
      <td>
        {{ i.supervisor }}
      </td>
      <td>
        {{ i.subject }}
      </td>
      <td>
        {{ i.start_date }}
      </td>
      <td>
        {{ i.deadline }}
      </td>
      <td>
        {{ i.pub_date }}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td>No inactive projects to show!</td>
    </tr>
    {% endfor %}
  </table>
</center>
{% endblock %}
