{% extends "base.html" %}

{% block title %}Project Stock{% endblock %}

{% block body %}

<br>
<table class="data" style="float: left">
    <tr>
      <th>Random project</th><th>Type</th><th>Supervisor</th><th>Subject</th><th>Start Date</th><th>End Date</th><th>Deadline</th><th>Published</th>
    </tr>
    {% for r in random_project_list %}
    <tr class="link" onclick="window.document.location.href='/projects/{{ r.id }}'">
      <td>
        {{ r.name }}
      </td>
      <td>
        {{ r.get_type_display }}
      </td>
      <td>
        {{ r.supervisor }}
      </td>
      <td>
        {{ r.subject }}
      </td>
      <td>
        {{ r.start_date }}
      </td>
      <td>
	{{ r.end_date }}
      </td>
      <td>
        {{ r.deadline }}
      </td>
      <td>
        {{ r.pub_date }}
      </td>
    </tr>
    {% endfor %}
</table>
<table class="front" style="float: left">
  <tr>
    <th>Newly published Bachelor projects</th>
  </tr>
  {% for b in project_bachelor %}
  <tr>
    <td>
      <a href="{% url 'project' b.id %}">
        {{ b.name }}
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
<table class="front" style="float: left">
  <tr>
    <th>Newly published Master projects</th>
  </tr>
  {% for m in project_master %}
  <tr>
    <td>
      <a href="{% url 'project' m.id %}">
        {{ m.name }}
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
<table class="front" style="float: left">
  <tr>
    <th>Newly published Master Thesis</th>
  </tr>
  {% for t in project_thesis %}
  <tr>
    <td>
      <a href="{% url 'project' t.id %}">
        {{ t.name }}
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
<table class="front" style="float: left">
  <tr>
    <th>Supervisors with most active projects</th>
  </tr>
  {% for s in supervisor_list %}
  <tr>
    <td>
      <a href="{% url 'supervisor' s.id %}">
        {{ s.last_name }}, {{ s.first_name }} ({{ s.num_projects }})
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
